html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --blue: #0909BA;
  --black: #000;
  --white: #fff;
  --gray: #444;
  --font: 'Basis Grotesque';
  --large_type: 30px;
  --medium_type: 24px;
  --small_type: 20px;
  --clip_path: polygon(0% 0%, calc(100% - 140px) 0%, 100% 140px, 100% 100%, 0% 100%);
  --clip_path_small: polygon(0% 0%, calc(100% - 70px) 0%, 100% 70px, 100% 100%, 0% 100%);;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  color: var(--black);
  font-size: 20px;
  line-height: 33px;
  -webkit-font-smoothing: antialiased;
  background: var(--black);
}

a {
  color: var(--blue);
  text-decoration: none;
}

h1, h2, h3 {
  font-size: var(--medium_type);
  line-height: 33px;
  margin-bottom: 20px;
}

p, blockquote {
  margin-bottom: 33px;
}

blockquote {
  padding-left: 70px;
  color: var(--gray);
}

img {
  display: block;
  max-width: 100%;
}

.nameplate {
  width: 100vh;
  background: var(--white);
  padding: 5px 15px;
  border-top: 1px solid var(--black);
  transform-origin: top left;
  transform: rotate(90deg) translate(0, -100%);
  position: fixed;
  z-index: 1000;
}

.nameplate h1 {
  color: var(--blue);
  margin-right: 15px;
}

.nameplate h1, .nameplate h2 {
  display: inline;
  font-size: var(--large_type);
}

.intro {
  width: 100vw;
  height: 95vh;
  background: var(--black);
  position: sticky;
  top: 0;
}

.intro h2 {
  font-size: var(--large_type);
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-card {
  position: absolute;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

.intro-card__image:hover {
  z-index: 10000 !important;
}

.intro-card__text {
  width: 500px;
  padding: 70px;
  text-align: center;
  z-index: 1000;
  background: var(--white);
  -webkit-clip-path: var(--clip_path_small);
  clip-path: var(--clip_path_small);
}

.intro-card__text p {
  margin: 0;
  font-size: var(--large_type);
  line-height: 45px;
}

.grid-block {
  border-top: 1px solid var(--black);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  padding: 150px 60px;
  position: relative;
  background:  var(--white);
}

.grid-item:nth-of-type(1) {
  grid-column: 2 / span 3
}

.grid-item:nth-of-type(2) {
  grid-column: 6 / span 3
}

.grid-item:nth-of-type(3) {
  grid-column: 10 / span 3
}

.grid-item.grid-item__double {
  grid-column: 6 / span 6;
}

.grid-item.grid-item__no-heading:before {
  content: '';
  display: block;
  width: 70px;
  height: 1px;
  background: var(--blue);
  margin-top: 10px;
  margin-bottom: 43px;
}

.grid-block__info {
  border-top: 0;
  -webkit-clip-path: var(--clip_path);
  clip-path: var(--clip_path);
  margin-bottom: -5px;
}