html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
    font-family: TiemposHeadline;
    src: url(./assets/fonts/TiemposHeadlineWeb-Regular.eot);
    font-weight:400;
}
@font-face {
    font-family: TiemposHeadline;
    src: url(./assets/fonts/TiemposHeadlineWeb-Regular.woff);
    font-weight:400;
}
@font-face {
    font-family: TiemposHeadline;
    src: url(./assets/fonts/TiemposHeadlineWeb-Regular.woff2);
    font-weight:400;
}

@font-face {
    font-family: TiemposHeadlineLight;
    src: url(./assets/fonts/TiemposHeadlineWeb-Light.eot);
    font-weight:300;
}
@font-face {
    font-family: TiemposHeadlineLight;
    src: url(./assets/fonts/TiemposHeadlineWeb-Light.woff);
    font-weight:300;
}
@font-face {
    font-family: TiemposHeadline;
    src: url(./assets/fonts/TiemposHeadlineWeb-Light.woff2);
    font-weight:300;
}

@font-face {
    font-family: TiemposHeadline;
    src: url(./assets/fonts/TiemposHeadlineWeb-RegularItalic.eot);
    font-weight:400;
    font-style: italic;
}
@font-face {
    font-family: TiemposHeadline;
    src: url(./assets/fonts/TiemposHeadlineWeb-RegularItalic.woff);
    font-weight:400;
    font-style: italic;
}
@font-face {
    font-family: TiemposHeadline;
    src: url(./assets/fonts/TiemposHeadlineWeb-RegularItalic.woff2);
    font-weight:400;
    font-style: italic;
}

@font-face {
    font-family: TiemposHeadlineLight;
    src: url(./assets/fonts/TiemposHeadlineWeb-LightItalic.eot);
    font-weight:300;
    font-style: italic;
}
@font-face {
    font-family: TiemposHeadlineLight;
    src: url(./assets/fonts/TiemposHeadlineWeb-LightItalic.woff);
    font-weight:300;
    font-style: italic;
}
@font-face {
    font-family: TiemposHeadline;
    src: url(./assets/fonts/TiemposHeadlineWeb-LightItalic.woff2);
    font-weight:300;
    font-style: italic;
}

@font-face {
    font-family: FoundersGrotesk;
    src: url(./assets/fonts/FoundersGroteskWeb-Regular.eot);
    font-weight:400;
}
@font-face {
    font-family: FoundersGrotesk;
    src: url(./assets/fonts/FoundersGroteskWeb-Regular.woff);
    font-weight:400;
}
@font-face {
    font-family: FoundersGrotesk;
    src: url(./assets/fonts/FoundersGroteskWeb-Regular.woff2);
    font-weight:400;
}

:root {
  --blue: #000ebd;
  --black: #111;
  --white: #fff;
  --gray: #444;
  --font: 'TiemposHeadline';
  --font_secondary: 'FoundersGrotesk';
  --extra_large_type: 50px;
  --large_type: 50px;
  --medium_type: 37px;
  --small_type: 20px;
  --extra_large_line_height: 60px;
  --large_line_height: 60px;
  --medium_line_height: 45px;
  --small_line_height:  1.5;
  --fold_size: 80px;
  --cool_gray: #e3e8e9;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  color: var(--black);
  font-size: var(--medium_type);
  line-height: var(--medium_line_height);
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  background: var(--cool_gray);
}

body:before {
  content: '';
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  width: var(--fold_size);
  height: var(--fold_size);
  border: 1px solid var(--black);
  background: var(--white);
  z-index: 1000;
}

body:after {
  content: '';
  position: fixed;
  display: block;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
  border: calc(var(--fold_size) / 2) solid var(--black);
  border-left-color: transparent;
  border-bottom-color: transparent;
  z-index: 1001;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--black);
}


h1, h2 {
  font-size: var(--large_type);
  line-height: var(--large_line_height);
  width: 120%;
}

h1 {
  font-size: var(--extra_large_type);
  line-height: var(--extra_large_line_height);
  font-weight: 400;
}

h6 {
  font-family: var(--font_secondary);
  font-size: var(--small_type);
  line-height: var(--small_line_height);
  text-transform: uppercase;
  margin: 70px 0 12px -50px;
  color: var(--blue);
  letter-spacing: .5px;
}

p {
  font-size: var(--small_type);
  line-height: var(--small_line_height);
}

cite {
  font-style: italic;
}

li {
  margin-bottom: 30px;
  position: relative;
  padding-left: 50px;
  width: 100%;
}

li:before, .lede:before {
  content: '';
  display: block;
  position: absolute;
  left: -50px;
  top: 14px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: var(--black);
}

li:before {
  left: 0;
}

.lede:before {
  top: 23px;
  background: var(--blue);
}

.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: var(--blue);
  margin: 0 15px;
}

.lede {
  position: relative;
}

.body, .footer {
  max-width: 630px;
  margin: 0 auto 0 250px;
  padding: 20px;
}

.body {
  padding-top: 80px;
}

.footer {
  padding-bottom: 30px;
  margin-top: 120px;
}

.footer:before {
  content: '';
  display: block;
  width: 120%;
  height: 1px;
  background: var(--black);
  margin-bottom: 50px;
}

.footer p:last-of-type {
  margin-top: 200px;
}

.footer a {
  color: var(--black);
}

p {
  text-indent: 50px;
}

.no-indent {
  text-indent: 0;
}

.indent:after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid var(--black);
  top: 9px;
  left: 16px;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}

.indent:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 35px;
  height: 1px;
  background: var(--black);
  top: -5.5px;
  left: 0px;
  margin-right: 15px;
}

.indent {
  /*padding-left: 60px;*/
  margin-top: 30px;
  position: relative;
  text-indent: 0;
}

.big-indent:before {
  top: -10.5px;
}

.big-indent:after {
  top: 18px;
}

.blue {
  color: var(--blue);
}

.nameplate {
  min-width: 100vh;
  background: var(--white);
  box-sizing: border-box;
  padding: 9px 0px 8px;
  border-top: 1px solid var(--black);
  transform-origin: top left;
  transform: rotate(90deg) translate(0, -100%);
  position: fixed;
  z-index: 1000;
  font-size: var(--small_type);
  line-height: var(--small_line_height);
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.nameplate > * {
  width: max-content;
  flex: 0 0 auto;
  margin-bottom: 0;
}

.nameplate > div {
  margin-top: 2px;
}

.nameplate h1 {
  color: var(--blue);
}

.nameplate h1, .nameplate h2 {
  font-family: var(--font_secondary);
  text-transform: uppercase;
  font-size: var(--small_type);
  line-height: var(--small_line_height);
  letter-spacing: .5px;
}

.nameplate .dot {
  background: transparent;
  border: 1px solid var(--blue);
  box-sizing: border-box;
  background: var(--cool_gray);
}

@media (max-width: 1000px) {
  :root {
    --extra_large_type: 30px;
    --large_type: 30px;
    --medium_type: 25px;
    --small_type: 18px;
    --extra_large_line_height: 38px;
    --large_line_height: 38px;
    --medium_line_height: 33px;
    --fold_size: 70px;
  }

  body:before, body:after {
    display: none;
  }

  .body {
    padding-top: 70px;
    margin: auto;
  }

  .nameplate {
    transform: none;
    min-width: 100vw;
    width: 100vw;
    box-sizing: border-box;
    top:0;
    left: 0;
    right: 0;
    border: none;
    border-bottom: 1px solid var(--black);
    padding-left: 5px;
    padding-right: 5px;
  }

  .nameplate h2 {
    display: none;
  }

  .nameplate h2 + div {
    display: none;
  }

  .footer {
    margin: auto;
    margin-top: 0;
    padding-bottom: 30px;
  }

  .footer p:last-of-type {
    margin-top: 30px;
  }

  .footer:before {
    width: 100%;
    margin-bottom: 40px;
  }

  h1, h2 {
    width: 100%;
  }

  h6 {
    margin-left: 0;
    margin-top: 50px;
  }

  li {
    padding-left: 0;
  }

  li:before, .lede:before {
    position: relative;
    display: inline-block;
    left: 0;
    top: -1px;
    margin-right: 15px;
  }

  h1, h2 {
    margin-bottom: 20px;
  }

  .indent {
    margin-top: 20px;
  }

  .indent:after {
    top: 4px;
  }

  .big-indent:before {
    top: -7.5px;
  }

  .big-indent:after {
    top: 10px;
  }
}